* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.player1,
.player2 {
    height: 70vh;
    width: 60vh;
    display: inline-block;
    margin-top: 25vh;
    margin-left: 35vh;
    background-color: white;
    opacity: 0.7;
    padding-top: 50px;
    position: relative;
    left: 20px;
    z-index: 1;
    text-align: center;
}

.player2 {
    opacity: 0.5;
    margin-left: 0;
}

button {
    margin-top: 35px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    display: inline-block;

}

.dice-image {
    border: 2px solid black;
    width: 100px; 
    height: 100px;
    margin-left: 45px;
    alt: unset;
}
.btn1{
    position: relative;
    top: 40px;
    right: 75px;
}